<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projekt - 230676</title>
    <link rel="stylesheet" th:href="@{'/css/myStyle.css'}">
</head>
<body>
<h2 id="name">Jiří Svozil</h2>

<form action="/video" method="post">
    <label>Video URL</label>
    <input type="text" id="video_url" name="video_url"><br>
    <label>Video Width</label>
    <input type="text" id="video_height" name="video_height"><br>
    <input type="submit" value="Odeslat">
</form>

<button onclick="window.location.href='/streamcollection';">Streams</button>



</body>
</html>