<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projekt - Jiří Svozil</title>
</head>
<body>
Streams:
    <table>
        <tr>
            <th>
                Stream
            </th>
            <th>
                Stream with controls
            </th>
        </tr>
        <div th:each="video: ${library}">
            <tr>
                <td>
                    <a th:href="@{'player/'+${video}}" th:text="${video}"></a>
                </td>
                <td>
                    <a th:href="@{'playercontrols/'+${video}}" th:text="${video}"></a>
                </td>
            </tr>
        </div>

    </table>
    <br>
    <button onclick="window.location.href='/index';">Back</button>
</body>
</html>