<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projekt - Jiří Svozil</title>
    <link rel="stylesheet" th:href="@{'/CSS/myStyle.css'}">
</head>
<body>
<video th:width="${video_height}" controls>
    <source th:src="@{${video_url}}" type="video/mp4">
</video>
<br>
<button onclick="window.location.href='/index';">Back</button>
</body>
</html>